body {
  background-color: rgb(228, 170, 243);
  overflow: hidden;
}
.centered {
  text-align: center;
}
.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000000;
}
.jumbotron {
  height: 100vh;
}
.container {
  top: 25%;
  position: relative;
}
