body {
  background-color: rgb(228, 170, 243);
  overflow: hidden;
}
.centered {
  /* border: 2px solid black; */
  text-align: center;
}
.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #440749;
}
.jumbotron {
  height: 100vh;
}
.container {
  /* border: 2px solid black; */
  top: 25%;
  position: relative;
  /* margin-top: 20vh; */
}
